<!DOCTYPE html>
<html>
  <head>
    <title>Fondos - Eco-Tree</title>
    <link rel="stylesheet" href="/styles/store.css" />
    <link rel="icon" href="/front/icon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
   <header>
    <nav class="nav">
      <a href="/store" class="menu">Volver</a>
    </nav>
  </header>
    <h1>ACA HAY FONDOS</h1>


  </body>
</html>