<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terminaste el juego!!</title>
  <link rel="Stylesheet" href="/styles/register.css">
  <link rel="icon" href="/front/icon.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <h2 class="logo"> ECO-TREE</h2>
    <img class="image" src="/front/logo.png" alt="logo">
  </header>

      <form action="/game_finished" method="POST"> 

        <h1> Terminaste el juego!! </h1>

      </form>

    </div>
  </div>
  
 
</body>
</html>