<head>
  <title>Eco-Tree</title>
  <link rel="stylesheet" href="/styles/game.css" />
</head>
<form action="/game" method="GET">

<div class="profile-link">
    <a href="/account">Profile</a>
</div>

<div class="play-section">
    <h2>Lets play!!</h2>
    <h3>Question 1:</h3>
    <p><%= @question1%></p>

    <div class="options">
      <% @options.each do |option| %>
      <a href="#">
        <div class="option-button" data-option-id="<%= option.id %>">
          <%= option.description %>
        </div>
      </a>
      <% end %>
    </div>

</form>
