<form action="/login" method="post">
  
  <label for="usrname">
    <b>Username</b>
  </label>
  <input type="text" name="userName" id="usrname" placeholder="Enter username" required>

  <label for="pwd">
    <b>Password</b>
  </label>
  <input type="password" name="pwd" id="pwd" placeholder="Enter your password" required>
  <input type="submit" value="Login">

</form>