<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/levels.css" />
  <link rel="icon" href="/front/icon.png"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <title>Levels</title>
</head>
<body>
  <header>
    <nav class="navigation">
      <a href=<%="/menu"%> class="btn"><strong>Menú</strong></a>
      <div class="points">
        Puntos: <%= @points %>
      </div>
      <a href="/tree" class="btn"><strong>Mi Arbol</strong></a>
    </nav>
  </header>
  <% if @reset %>
    <h3>El juego se ha reiniciado</h3>
  <% end %>
  
  <h1>Niveles</h1>
  <form action="/levels" method="POST" class="form">
    <ul class="levels-list">
      <% @levels.each do |level| %>
        <input type="submit" name="level_selected"  value=<%=level%> class="level"/>
      <% end %>
    </ul>
    <% if @disabled_level %>
      <p class="error">Nivel no habilitado</p>
    <% end %>
  </form>
</body>
</html>