<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nivel terminado</title>
  <link rel="Stylesheet" href="/styles/level_finished.css">
  <link rel="icon" href="/front/icon.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <nav class="nav">
      <a href="/menu">MENU</a>
      <a href="/tree">MI ARBOL</a>
      <a href="/ranking">RANKING</a>
      <a href="/">CERRAR SESION</a>
    </nav>
  </header>
   
  <section class="finish">
    <h1 class="end">Terminaste el nivel <%= @level_selected %>!</h1>
    <a href="/levels"><strong>VOLVER A NIVELES</strong></a>
    <h1 class="points"> Tu puntaje actual es: <%= @user.points %> </h1>
    <h1 class="points"> Revisa las respuestas en la seccion <a href="/practicar"> practica </a> 
    y mira cuales eran las opciones correctas!</h1>
  </section>
  
</body>
</html>