<!DOCTYPE html>
<html>
<head>
  <title>Eco-Tree</title>
  <link rel="stylesheet" href="/styles/login.css" />
</head>
<body>
  <h1 >Eco-Tree</h1>

  <img src="front/logo.png" alt="Logo">

  <p>INICIAR SESIÓN</p>

  <form action="/login" method="POST">
    <label for="username">
      <p>USUARIO</p>
    </label>

    <input type="text" name="username" id="usrname" placeholder="Enter username" required>
    <br>
    <label for="pwd">
      <p>CONTRASEÑA</p>
    </label>

    <input type="password" name="password" id="pwd" placeholder="Enter your password" required>
    <br><br>
    <input type="submit" value="Login" class="button">
  </form>

  <p> No tiene cuenta? <a href="/register"> Registrate aqui! </a>  </p>
</body>
</html>
