<!DOCTYPE html>
<html>
<head>
  <title>Eco-Tree</title>
  <style>
    body {
      background-color: rgb(12, 12, 21);
      text-align: center;
    }

    h1 {
      color: lime;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 60px;
      letter-spacing: 2px;
      text-transform: uppercase;
      -webkit-text-stroke: none;
      font-family: 'Steak', cursive;
    }

    p {
      color: lime;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 18px;
    }

    input[type="text"], input[type="password"] {
      color: white;
      background-color: black;
      border: 1px solid white;
      padding: 10px;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      color: black;
      background-color: lime;
      border: none;
      padding: 10px 30px;
      cursor: pointer;
      border-radius: 20px;
      font-family: 'Steak Barbecue', cursive;
    }

    a {
      color: lime;
      text-decoration: none;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <h1 style="color: #008000; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Eco-Tree</h1>

  <img src="front/logo.png" alt="Logo" style="margin-bottom: 10px; width: 200px; height: auto;">
  <!-- Ajusta la ruta de la imagen según la ubicación real del archivo 'logo.png' -->

  <p>INICIAR SESIÓN</p>

  <form action="/game" method="POST">
    <label for="username">
      <b style="color: white;">Username</b>
    </label>
    <br>
    <input type="text" name="username" id="usrname" placeholder="Enter username" required>
    <br>
    <label for="pwd">
      <b style="color: white;">Password</b>
    </label>
    <br>
    <input type="password" name="password" id="pwd" placeholder="Enter your password" required>
    <br>
    <input type="submit" value="Login">
  </form>

  <p>SOS NUEVO? REGISTRATE</p>
  <a href="register.erb">Registrate aca!</a>
</body>
</html>
