<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu - Eco-Tree</title>
  <link rel="Stylesheet" href="/styles/menu.css">
  <link rel="icon" href="/front/icon.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>

  <header class="header">
    <h2 class="logo">Menú</h2>
    <p class="logo">Hola, <%= @user.username %>!</p>
  </header>

  <section class="Question_Box">
    <div class="form-box login">    

      <a class="game" href="/levels" > Jugar </a>
      <a class="btn" href="/profile"> Mi perfil </a>
      <a class="btn" href="/practicar"> Practicar </a>
      <a class="btn" href="/ranking"> Ranking </a>
      <a class="btn" href="/tree"> Mi árbol </a>
      <a class="btn" href="/store"> Tienda </a>
      <a href=<%="/logout"%> class="btnOut"> Cerrar Sesion </a>

    </div>
  </section>
  
 
</body>
</html>