<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu - Eco-Tree</title>
  <link rel="Stylesheet" href="/styles/menu.css">
  <link rel="icon" href="/front/icon.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  
  <header>
    <h2 class="logo"> MENU</h2>
    <h1 class="logo">usuario: <%= user_id %></h1>
    
  </header>

  <div class="Question_Box">
    <div class="form-box login">    
    
      <a class="game" href=<%="/game/1/user_id"%>> Jugar</a>
      <a class="btn" href="/profile"> Mi perfil </a>
      <a class="btn" href="questions.html"> Preguntas</a>
      <a href=<%="/"%> class="btnOut">Salir</a>


    </div>
  </div>
  
 
</body>
</html>