<!DOCTYPE html>
<html>
  <head>
    <title>Eco-Tree</title>
    <link rel="stylesheet" href="/styles/profile.css" />
    <link rel="icon" href="/front/icon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navigation">
          <a href=<%="/menu"%> class="profile">Volver</a>
      </nav>
    </header>
    <section class="settings">
      <h2 class ="tle">MI PERFIL</h2>

      <form action="/profile" method="POST"> 
        <div class="modificar">
          <div class="user">
            <h2 class="old">Su usuario actual:</h2>
            <h2>Nuevo nombre de usuario</h2>
            <input type="Usuario" name="newUsername">
          </div>
        
          <div class="pass">
            <h2>Contraseña antigua</h2>
            <input type="password" name="password">
            <h2>Nueva Contraseña</h2>
            <input type="password" name="newPassword">
          </div>
        
          <div class="email">
            <h2 class="old">Su email actual</h2>
            <h2>Nuevo email de usuario</h2>
            <input type="Email" name="newEmail">
          </div>
     

          <button type="submit" class="btn"> Guardar </button>
         
        </div>
      </form>
     
    </section>
  </body>
</html>