<!DOCTYPE html>
<html>
  <head>
    <title>Eco-Tree</title>
    <link rel="stylesheet" href="/styles/profile_change.css" />
    <link rel="icon" href="/front/icon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="nav">
          <a href=<%="/profile"%> class="profile">Volver</a>
      </nav>
    </header>
    <h2 class ="tle">MODIFICAR PERFIL</h2>
    
    <div class="crear_usuario">
      <div class="form-box login">
        <form action="/profile_change" method="POST"> 

          <h2 class="tle2">Modificar nombre de usuario</h2>

          <div class="input-box">
            <input type="Usuario" name="new_username" id="username">
            <label>Ingrese su nuevo usuario</label>
          </div>   
          
          <h2 class="tle2">Modificar contraseña</h2>

          <div class="input-box ">
            <input type="password" name="current_password">
            <label>Ingrese su contraseña actual</label>
          </div>  
          
          <div class="input-box ">
            <input type="password" name="new_password">
            <label>Ingrese su nueva contraseña</label>
          </div>  
          
          <h2 class="tle2">Modificar email</h2>

          <div class="input-box ">
            <input type="Email" name="new_email">
            <label>Ingrese su nuevo email</label>
          </div>   
  
          <button type="submit" class="btn"> Modificar </button>
  
        </form>
      </div>
    </div>
    
  </body>
</html>