<form action="/game" method="POST">

  <p> Registrate </p>

  <label for="username">
    <b>Username</b>
  </label>
  <input type="text" name="username" id="usrname" placeholder="Enter username" required>

  <label for="pwd">
    <b>Password</b>
  </label>
  <input type="password" name="password" id="pwd" placeholder="Enter your password" required>
  <input type="submit" value="Login">

  <label for="email">
    <b>Email</b>
  </label>
  <input type="text" name="email" id="email" placeholder="Enter email" required>

  <label for="birthdate">
    <b>Birthdate</b>
  </label>
  <input type="date" name="birthdate" id="bdate" placeholder="Enter your birthdate" required>

</form>

