<!DOCTYPE html>
<html>
<head>
  <title>Eco-Tree</title>
  <link rel="icon" href="front/icon.png"/>
  <style>
    body {
      background-color: rgb(12, 12, 21);
      text-align: center;
    }

    h1 {
      color: lime;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 60px;
      letter-spacing: 2px;
      text-transform: uppercase;
      -webkit-text-stroke: none;
      font-family: 'Steak', cursive;
    }

    p {
      color: lime;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 18px;
    }

    input[type="text"], input[type="password"], input[type="date"] {
      color: white;
      background-color: black;
      border: 1px solid white;
      padding: 10px;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      color: black;
      background-color: lime;
      border: none;
      padding: 10px 30px;
      cursor: pointer;
      border-radius: 20px;
      font-family: 'Steak Barbecue', cursive;
    }
  </style>
</head>
<body>
  <h1 style="color: #008000; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Eco-Tree</h1>

  <form action="/register" method="POST">
    <p>Registrate</p>

    <label for="username">
      <b>USUARIO</b>
    </label>
    <br>
    <input type="text" name="username" id="usrname" placeholder="INGRESE SU USUARIO" required>
    <br>

    <label for="pwd">
      <b>CONTRASEÑA</b>
    </label>
    <br>
    <input type="password" name="password" id="pwd" placeholder="INGRESE SU CONTRASEÑA" required>
    <br>

    <label for="email">
      <b>Email</b>
    </label>
    <br>
    <input type="text" name="email" id="email" placeholder="INGRESE SU EMAIL" required>
    <br>

    <label for="birthdate">
      <b>FECHA DE NACIMIENTO</b>
    </label>
    <br>
    <input type="date" name="birthdate" id="bdate" placeholder="INGRESE SU FECHA DE NACIMIENTO" required>
    <br>

    <input type="submit" value="CREAR USUARIO">
  </form>
</body>
</html>

