<!DOCTYPE html>
<html>
<head>
  <title>Eco-Tree</title>
  <link rel="stylesheet" href="/styles/register.css" />
  <link rel="icon" href="front/icon.png"/>
</head>
<body>
  <h1>Eco-Tree</h1>

  <form action="/register" method="POST">
    <p>Registrate</p>

    <label for="username">
      <b>USUARIO</b>
    </label>
    <br>
    <input type="text" name="username" id="usrname" placeholder="INGRESE SU USUARIO" required>
    <br>

    <label for="pwd">
      <b>CONTRASEÑA</b>
    </label>
    <br>
    <input type="password" name="password" id="pwd" placeholder="INGRESE SU CONTRASEÑA" required>
    <br>

    <label for="email">
      <b>EMAIL</b>
    </label>
    <br>
    <input type="text" name="email" id="email" placeholder="INGRESE SU EMAIL" required>
    <br>

    <label for="birthdate">
      <b>FECHA DE NACIMIENTO</b>
    </label>
    <br>
    <input type="date" name="birthdate" id="bdate" placeholder="INGRESE SU FECHA DE NACIMIENTO" required>
    <br>

    <input type="submit" value="CREAR USUARIO">
  </form>
</body>
</html>

