<!DOCTYPE html>
<html>
  <head>
    <title>Tienda - Eco-Tree</title>
    <link rel="stylesheet" href="/styles/store.css" />
    <link rel="icon" href="/front/icon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
   
   <header>
    <nav class="nav">
      <a href="/menu">Volver al menu</a>
      <a href="/skin">Comprar Skin</a>
    </nav>
  </header>

  </body>
</html>