<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Validacion</title>
  <link rel="Stylesheet" href="/styles/validate.css">
  <link rel="icon" href="/front/icon.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="validate">
    <div class="form-box login">
    
      <h2 class="tittle">INGRESA EL CODIGO</h2>
      <form action="/validate" method="POST"> 

        <div class="input-box">
          <input type="Usuario" name="codigo" id="codigo">
        </div>   

        <button type="submit" class="btn"> Ingresar </button>

        <div class="recomend">
          <p>No compartas este codigo con nadie</p>
        </div>
      </form>
    
    </div>
  </div>
  
 
</body>
</html>