*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/front/store.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.nav a{
  position: relative;
  font-size: 2em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  transition: 5s;
}

.nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #b7e8d1;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav a:hover:after{
  transform: scaleX(1);
}

.box-fondo{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box-hoja{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.box-shop{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 320px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 2px;
  color: #000000;
  text-decoration: none;
  margin: 10px;
  box-shadow: 0 0 30px rgba(2, 13, 0, 0.817);
  transform: scale(1);
  transition: transform 0.5s ease, width 1s, height 1s, box-shadow 1s;
  cursor: pointer;
}

.box-shop:hover{
  transform: scale(1.03);
  box-shadow: 0 0 30px #5fcaeb;
}


.fondo{
  width: 260px;
  height: 180px;
}

.hoja{
  width: 180px;
  height: 180px;
}

.eco_coin {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2vw; 
  transform: translate(-200px, 20px);
  color: #ffffff; 
  padding: 10px; 
}

.buy-confirm{
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  font-size: 1.5vw; 
  width: 800px;
  height: 600px;
  border-radius: 2%;
  border: 2px solid rgba(81, 202, 246, 0.57);
  box-shadow: 0 0 15px rgba(49, 219, 245, 0.51);
  background-color: #000000;
  color: #ffffff;
  z-index: 20;
}

.description{
  color: #5fcaeb;
  margin-left: 13px;
  margin-right: 13px;
}

.price{ 
  color: #22f79b;
  margin-left: 13px;
  margin-right: 13px;
}

.buttons{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: translate(-20px, 200px);
  width: 600px;
  height: 110px;
}

.button{
  width: 250px;
  height: 50px;
  margin: 20px;
  font-size: 1.2vw; 
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: background-color 1s;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 20px #03d960b2;
}

.pre-image-hoja{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffea;
  border-radius: 2px;
  max-width: 100%; /* Ajusta el ancho al del contenedor */
  position: absolute; /* Permite que se mantenga en la parte superior del section */
  top: 5%; /* Lo coloca en la parte superior del section */
  left: 50%; /* Lo coloca en el centro horizontal del section */
  transform: translateX(-50%); /* Corrige el centrado horizontal */
}

.pre-image-fondo{
  width: 300px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffea;
  border-radius: 2px;
  max-width: 100%; /* Ajusta el ancho al del contenedor */
  position: absolute; /* Permite que se mantenga en la parte superior del section */
  top: 8%; /* Lo coloca en la parte superior del section */
  left: 50%; /* Lo coloca en el centro horizontal del section */
  transform: translateX(-50%); /* Corrige el centrado horizontal */
}