/*@import url(https://fonts.google.com/specimen/Poppins?preview.text=ECO-TREE&preview.text_type=custom);*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/front/fondo.jpg');
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 3.2em;
  border: 2px lime;
  border-color: rgb(14, 251, 14);
  border-radius: 6px;
  color: rgb(0, 0, 0);
  user-select: none;
  height: px;
}


.navigation .btn_Login:hover {
  transform: scaleX(1);
}

.crear_usuario {
  width: 400px;
  height: 490px;
  background: #0000004d;
  border: 2px solid rgba(0, 250, 133, 0.222);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(2, 255, 108, 0.303);
  display: flex;
  justify-content: center;
  align-items: center;
}

.crear_usuario .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}


.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 50px 0;
  color: red;
  padding: -100px;
  font-size: 15px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform:  translateY(-50%);
  font-size: 1em;
  color: #8adbbc;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
  text-shadow: #162938 6px;
}

.input-box input:focus~label, 
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #5feb9c;
  font-weight: 600;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: background-color 2s;
}

.btn:hover {
  box-shadow: 0 0 10px #5feb9c;
  color: #5feb9c;
}

.login-register {
  font-size: .9em;
  color: #91a2b2;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{
  color: #5feb9c;
  text-decoration: none;
  font-weight: 600;
  border: 15px ;
  border-radius: 6px;
}


.login-register p a:hover{
  text-decoration: underline;
}

.image{
  width: 790px;
}

.volver {  
  display: block;
  width: 180px;
  height: 50px;
  text-align: center;
  background-color: #162938;
  border-radius: 10px;
  padding: 15px 30px;
  margin:  10px 5px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: background-color 1s;
}

.volver:hover {
  box-shadow: 0 0 10px #000000c8;
  color: #16f7a8;  
}

@media (max-width: 700px) {
  .image{
    width: 300px;
  }

  .volver{
    width: 90px;
    height: 25px;
    border-radius: 5px;
    padding: 3px;
    font-size: small;
  }
}
