* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background: url('/front/practice.jpg');
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 99;
}

.nav a{
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  margin-left: 40px;
  transition: 5s;
}

.nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #b7e8d1;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav a:hover:after{
  transform: scaleX(1);
}



.next-button {
  text-decoration: none;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 40px;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #000000;
  background: #ffffff;
  outline: none;
  font-weight: 700;
  transition: .3s;
  margin-top: 750px;
  z-index: 99;
}

.next-button:hover {
  border: 2px solid rgba(2, 156, 33, 0.739);
  box-shadow: 0 0 30px rgba(0, 228, 141, 0.5);
  font-size: 41px;
  padding: 5px;
  width: 210px;

}

.practice-section {
  flex-direction: column;
  font-size: 35px;
  position:absolute;
  width: 1500px;
  height: 750px;
  color: #fff;
  background: transparent;
  border: 4px solid #fff;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}


/*Contenedor de opciones y boton*/
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*Contenedor de opciones*/
.options {
  display: flex;
  flex-direction: column;
  align-items:center ;
  width: 100%;
  color: #fff;
  gap: 10px;
}

.tle{
  color: #00ff44;
  align-items: center;
  text-align: center;
  padding-bottom: 50px; 
}

.pregunta{
  color: white;
  padding-bottom: 80px;
}

.descripcion{
  text-align: center;
  padding-bottom: 50px;
}

.correct{
  color: #00ff44;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.detail{
  font-size: 30px;
}
