* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/front/practice.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 99;
}

.points{
  color: lightgreen;
  text-align: center;
  left: 100;
}

.names{
  color: rgb(255, 255, 255);
  text-align: center;
  left: 100;
}

.tle{
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 80px;
  color:#fff;
  margin-left: auto;
  margin-right: auto;
  bottom: 310px;
  z-index: 99;
  left: 540px;
}

.ranking-section{
  position: relative;
  justify-content: center;
  color: white;
  width: 600px;
  height: 470px;
  background: rgba(0, 0, 0, 0.839);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(80, 80, 80, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(26, 242, 127, 0.371);
  margin-left: auto;
  margin-right: auto;
  right: 420px;
}



.nav a{
  position: relative;
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  margin-left: 40px;
  transition: 5s;
}

.nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #b7e8d1;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav a:hover:after{
  transform: scaleX(1);
}

.table{
  margin: auto;
  margin-top: 40px;
  width: 70%;
}

.titulos {
  font-size: 37px;
}

.valores {
  font-size: 20px;
}

tr{
  margin: 100px;
}

.position{
  font-size: 40px;
  position:absolute;
  margin-top: 700px;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.366);
  backdrop-filter: blur(4px);
  border: 2px solid rgba(3, 255, 154, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(26, 242, 127, 0.371);
}

.position:hover{
  border: 2px solid rgba(3, 255, 154, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(26, 242, 127, 0.371);
}


