*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/front/fondo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  margin-top: -15px;
}

.volver {  
  display: block;
  width: 180px;
  height: 50px;
  text-align: center;
  background-color: #162938;
  border-radius: 10px;
  padding: 15px 30px;
  margin:  40px -5px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: background-color 1s;
}

.volver:hover {
  box-shadow: 0 0 10px #000000c8;
  color: #16f7a8;  
}


.btn_Login:hover {
  transform: scaleX(1);
}

.crear_usuario {
  position: relative;
  width: 400px;
  height: 590px;
  background: #0000004d;
  border: 2px solid rgba(0, 250, 133, 0.222);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(2, 255, 108, 0.303);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  left: -200px;
}

.crear_usuario .form-box {
  width: 100%;
  padding: 70px;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 35px 0;
  color: red;
  padding: -100px;
  font-size: 15px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform:  translateY(-160%);
  font-size: 1.1em;
  color: #5cf2b8e7;
  font-weight: 500;
  pointer-events: none;
}



.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #5feb9c;
  font-weight: 600;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: background-color 1s;
}


.btn:hover {
  box-shadow: 0 0 10px #5feb9c;
  color: #5feb9c;
}

.image{
  width: 890px;
  margin-right: 400px;
}
