/*@import url(https://fonts.google.com/specimen/Poppins?preview.text=ECO
-TREE&preview.text_type=custom);*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/front/inicio.jpg');
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.image {
  width: 1200px;
}

.logo{
  font-size: 3em;
  border: 2px lime;
  border-color: rgb(14, 251, 14);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  user-select: none;
  height: px;
}

.nav a{
  position: relative;
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  transition: 5s;
}

.nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #b7e8d1;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav a:hover:after{
  transform: scaleX(1);
}

.sub {
  font-size: 34px;
  font-weight: 600;
  width: 280px;
  color: #ffffff; 
}

.sub span {
  position: relative;
}

.sub span::before {
  content: ' Eco';
  color: rgb(79, 219, 156);
  animation: words 20s infinite;
}

.sub span::after {
  content: '';
  background-color: black;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 2px solid rgb(79, 219, 156);
  right: -8px;
  animation: cursor .6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px transparent;
  }
}

@keyframes words {
  0%, 20% {
    content: ' Eco';
  }
  21%, 40% {
    content: ' Educative';
  }
  41%, 60% {
    content: ' Eco';
  }
  61%, 80% {
    content: ' Educative';
  }
  81%, 100% {
    content: ' Eco';
  }
}

@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}


@media (max-width: 800px) {
  .logo{
    font-size: 2.4em;
  }

  .nav a{
    font-size: 0.72em;
  }

  .image{
    width: 600px;
  }

  .sub{
    position: relative;
    top: 100px;
    left: 40px;
  }

}


