body {
  background-color: rgb(12, 12, 21);
  text-align: center;
  font-size: 32px;
  color: white;
}

/*Contenedor de opciones*/
.options {
  display: flex;
  flex-direction: column;
}

/* Estilo base del botón */
.option-button {
  display: inline-block;
  border: 3px solid #196d24;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #22b836;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

/* Efecto de sombra al pasar el cursor sobre el botón */
.option-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(73, 207, 73);
  border: 3px solid #fff;
}

.profile-link a {
  color:#22b836;
}

a {
  color: black;
  text-decoration: none;
}
