* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #6d8ba0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 99;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-weight: 500;
  font-size: 25px;
}

.profile {
  text-decoration: none;
  text-align: center;
  line-height: 1.8;
  cursor: pointer;
  width: 130px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  outline: none;
  font-size: 1.1em;
  font-weight: 800;
  transition: .3s;
}

.profile:hover {
  background: #fff;
  color: #162938;
}

.play-section {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*Contenedor de opciones y boton*/
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*Contenedor de opciones*/
.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 10px;
  margin: 5px;
  background: #162938;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
}

input[type="radio"]:hover {
  background: #bfc2db;
  color: #162938;
}

input[type="radio"]:checked {
  background: #bfc2db;
  color: #162938;
}

.submit-button {
  appearance: none;
  text-decoration: none;
  width: 250px;
  height: 60px;
  border: none;
  background: #fff;
  border-radius: 6px;
  color: #162938;
  outline: none;
  font-size: 1.1em;
  font-weight: 800;
  transition: .3s;
}

.submit-button:hover {
  background: #162938;
  color: #fff;
}