* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/front/profile.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 99;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
  font-weight: 500;
  font-size: 25px;
  gap: 30px;
}

.settings {
  text-decoration: none;
  text-align: center;
  line-height: 1.8;
  cursor: pointer;
  width: 500px;
  height: 700px;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  outline: none;
  font-size: 1.1em;
  font-weight: 800;
  transition: .3s;
}

.user {
  display: table;
  text-decoration: none;
  text-align: center;
  align-items: center;
  line-height: 1.8;
  cursor: pointer;
  width: 500px;
  height: 200px;
  border: transparent;
  border-radius: 6px;
  color: #fff;
  outline: none;
  font-size: 1.1em;
  font-weight: 800;
  transition: .3s;
}
.pass {
  display: table;
  text-decoration: none;
  text-align: center;
  align-items: center;
  line-height: 1.8;
  cursor: pointer;
  width: 500px;
  height: 150px;
  border: transparent;
  border-radius: 6px;
  color: #fff;
  outline: none;
  font-size: 1.1em;
  font-weight: 800;
  transition: .3s;
}
.email {
  display: table;
  text-decoration: none;
  text-align: center;
  align-items: center;
  line-height: 1.8;
  cursor: pointer;
  width: 500px;
  height: 150px;
  border: transparent;
  border-radius: 6px;
  color: #fff;
  outline: none;
  font-size: 1.1em;
  font-weight: 800;
  transition: .3s;
}

.btn {
  appearance: none;
  text-decoration: none;
  width: 250px;
  height: 60px;
  border: none;
  background: #fff;
  border-radius: 6px;
  color: #162938;
  outline: none;
  font-size: 1.1em;
  font-weight: 800;
  transition: .3s;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.btn:hover {
  background: #162938;
  color: #fff;
}

.profile {
  appearance: none;
  text-decoration: none;
  width: 200px;
  height: 40px;
  border: none;
  background: #fff;
  border-radius: 6px;
  color: #162938;
  outline: none;
  font-size: 1.1em;
  font-weight: 800;
  transition: .3s;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.profile:hover {
  background: #162938;
  color: #fff;
}

